//My variables to responsive pages
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

//My variables to the color
$color-default: #CEAC41;
$color-primary: #DAC27C;
$color-secondary: #D7AF72;
$color-success: mediumseagreen;
$color-danger: tomato;

$variants: (
  'default': $color-default,
  'primary': $color-primary,
  'secondary': $color-secondary,
  'success': $color-success,
  'danger': $color-danger,
);
