//My variables to responsive pages
$breakpoint-md: rem(768px);
$breakpoint-lg: rem(1024px);
$breakpoint-xl: rem(1200px);

//My variables to the color
$color-default: #CEAC41;
$color-primary: #DAC27C;
$color-secondary: #D7AF72;
$color-success: mediumseagreen;
$color-danger: tomato;
$color-click: #307CEB;
$color-hover: #1461D1;
$color-border-box: #E2E5ED;
$color-placeholder: #9EA0A5;
$color-good: #f3f3ef;
$color-pointer: #385898;
$color-label-form: #3b4465;
$color-input: #a1b4b4;
