<form action="#" class="form form--search">
  <div class="form__row form__row--search">
    <div class="pick-location">
      <div class="pick-location__wrapper">
        <svg id="map-marker" class="icon icon--location">
          <use xlink:href="../assets/icons/sprite.svg#map-marker"></use>
        </svg>
        <div class="pick-location__current-city"  data-toggle="modal" data-target="#changeLocationModal">
          <span>Madrid</span>
          <svg id="chevron-down" class="icon icon--location">
            <use xlink:href="../assets/icons/sprite.svg#chevron-down"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="form__group form__group--search">
      <label for="search-bar" class="form__label form__label--hide">Search</label>
      <input type="search" id="search-bar" class="form__control form__control--search" placeholder="Type a product">
      <svg id="search" class="icon icon--search">
        <use xlink:href="../assets/icons/sprite.svg#search"></use>
      </svg>
    </div>
  </div>
</form>

