<!--<p>welcome works!</p>-->
<!--<ul>-->
<!--  <li class="text" *ngFor="let product of newestProducts$ | async">-->
<!--    Anuncio: {{product.name}} Categoria: {{product.category}} Precio:{{product.price}}-->
<!--  </li>-->
<!--</ul>-->
<div class="welcome">
  <div *ngIf="titleVisible$ | async; else notLogged">
    <img src="../../../assets/harvest-logo.png" alt="">
  </div>
  <ng-template #notLogged>
    <h1  class="app-tittle">Harvest</h1>
  </ng-template>
  <div>
    <app-search-bar></app-search-bar>
    <app-product-categories></app-product-categories>
    <app-change-location></app-change-location>
  </div>
</div>
<router-outlet></router-outlet>




