<!--<p>welcome works!</p>-->
<!--<ul>-->
<!--  <li class="text" *ngFor="let product of newestProducts$ | async">-->
<!--    Anuncio: {{product.name}} Categoria: {{product.category}} Precio:{{product.price}}-->
<!--  </li>-->
<!--</ul>-->
<div class="welcome">
  <div class="welcome__logo" *ngIf="titleVisible$ | async; else notLogged">
    <img src="../../../assets/harvest-logo.png" alt="">
  </div>
  <ng-template #notLogged>
    <h1  class="welcome__app-tittle"> PBA SW 2020 Final Project</h1>
  </ng-template>
  <div>
    <app-search-bar></app-search-bar>
    <app-product-categories></app-product-categories>
    <app-change-location></app-change-location>
  </div>
  <div class="welcome__new-product">
    <app-new-product *ngIf="titleVisible$ | async;"></app-new-product>
  </div>
</div>
<router-outlet></router-outlet>




