.form__control {
  display: block;
  width: 100%;
  height: rem(40px);
  border: rem(1px) solid #dadada;
  border-radius: rem(4px);
  margin-bottom: rem(14px);
  padding: rem(3px 13px);
  background-color: #fff;
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: rem(16px);
  text-transform: initial;
}


.form__group {
  flex-grow: 1;
  flex-basis: 0;
}

.form__group--ml {
  margin-left: rem(22px);
}

.form__group--large {
  flex-grow: 2;
}

.form__row {
  display: flex;
  width: 100%;
}

.form__label--hide {
  position: absolute;
  top: rem(-99px);
}

//Form Welcome
.form--welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: rem(9px);
  width: 100%;
}

.form__group--welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form__control--search {
  font-family: "FontAwesome", sans-serif;
  box-sizing: border-box;
  padding-inline-start: rem(20px);
}





