//Sprite icons svg
.icon {
  width: rem(50px);
  height: rem(50px);
  margin: rem(.5em);
  fill: #fff;
}


//Products card avatar
.icon--avatar {
  width: 100%;
  height: rem(160px);
  object-fit: cover;
}


//Form--welcome
.icon--location {
  width: rem(20px);
  height: rem(20px);
  object-fit: cover;
}
.icon--search {
  position: absolute;
  width: rem(20px);
  height: rem(20px);
  top: rem(4px);
  right: rem(5px);
  color: $color-placeholder;
}
