.icon {
  width: rem(50px);
  height: rem(50px);
  margin: rem(.5em);
  fill: #fff;
}


//Category icons

.icon--avatar {
  width: 100%;
  height: rem(160px);
  object-fit: cover;
}

.icon--location {
  width: rem(20px);
  height: rem(20px);
  object-fit: cover;
}
