.welcome-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  height: rem(62px);
  padding: 15px;    
  
  @include media(md) {
    
  }
  
  @include media(lg) {
    
  }
}