.welcome-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: rem(20px);
  padding: 0 12px;

  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
  }

  .form-search {
    margin-bottom: rem(30px);
    display: flex;
    flex-direction: row;

    &__label {
      display: block;
      overflow: hidden;
      text-indent: -999px;
    }
    
    &__control {
      display: block;
      width: 100%;
      height: 2.5rem;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      padding: 3px 11px;
      background-color: #fff;
      color: #333;
      font-family: "Roboto", serif;
      font-size: 1.25rem;
    }

  }


  
  
  
  @include media(md) {
    
  }
  
  @include media(lg) {
    
  }
}

