.welcome {
  max-width: rem(900px);
  margin: auto;
  padding: rem(8px);
  text-align: center;
}

.pick-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: rem(40px);
  margin-bottom: rem(14px);
  padding: rem(3px 13px);
  cursor: pointer;
  background: transparent;
  color: #fff;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__current-city {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
  }
}
