    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestProductModal">
      Request
    </button>

    <!-- Modal -->
    <div class="modal fade" id="requestProductModal" tabindex="-1" role="dialog" aria-labelledby="requestProductModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-title--requestProduct" id="requestProductModalLabel">Request Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" class="form">
              <div class="form__row">
                <div class="form__group">
                  <label for="quantity" class="form__label">Quantity</label>
                  <input id="quantity" type="number" class="form__control" placeholder="Kg">
                </div>
              </div>
              <div class="form__row">
                <div class="form__group">
                  <label for="date-pickup" class="form__label">Date to pickup</label>
                  <input id="date-pickup" type="text" class="form__control" placeholder="MM/DD/YYYY" onfocus="(this.type='date')">
                </div>
              </div>
              <button type="button" class="btn btn-primary btn--requestProduct">Send</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
