<div>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action active" data-toggle="list" href="#add1" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action" data-toggle="list" href="#add2" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action" data-toggle="list" href="#add3" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action" data-toggle="list" href="#add4" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action" data-toggle="list" href="#add5" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>
  <a class="list-group-item list-group-item--products-categorized list-group-item-action" data-toggle="list" href="#add6" role="tab">
    <div class="item-resume">
      <span>Title add</span>
      <span>User or farm</span>
    </div>
    <div class="btn--tabBtn">
      <svg id="chevron-right" class="icon icon--tabList">
        <use xlink:href="../assets/icons/sprite.svg#chevron-right"></use>
      </svg>
    </div>
  </a>

</div>
