<!-- Modal -->
<div class="modal fade" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-title--newProduct" id="newProductModalLabel">New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form form--login">
          <div class="form__row">
            <div class="form__group">
              <label for="address" class="form__label form__label--hide">address</label>
              <input type="text" class="form__control" placeholder="address">
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <label for="city" class="form__label form__label--hide">city</label>
              <input type="text" class="form__control" placeholder="city">
            </div>
            <div class="form__group form__group--ml">
              <label for="postcode" class="form__label form__label--hide">postcode</label>
              <input type="text" class="form__control" placeholder="postcode">
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <label for="tlf" class="form__label form__label--hide">tlf</label>
              <input type="tel" class="form__control" placeholder="tlf">
            </div>
          </div>
          <button type="button" class="btn btn-primary btn--login">Publish</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
