.modal-title--login {
  color: #385898 ;
}
.btn--login {
  display: block;
  margin: 0 auto 12px;
  width: 100%;
  background-color: #007bff;
  color: #f3f3ef;
}

.link-button {
  font-size: rem(13px);
  text-align: center;
}
