.app-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: rem(48px);
  color: #fff;
  margin: rem(8px 0);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: rem(16px);
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: rem(16px 0);
}



