.welcome {
  max-width: rem(900px);
  margin: auto;
  padding: rem(8px);
  text-align: center;
}

.pick-location {
  @include flex;
  
  &__wrapper {
    @include flex-row;
    width: auto;
    height: rem(40px);
    margin-bottom: rem(14px);
    padding: rem(3px 13px);
    background: transparent;
    color: $color-good;
    cursor: pointer;    
  }
  
  &__current-city {    
    display : inline-block;
    width : auto;
    height : auto;
    border : none;
    background : transparent;
    box-shadow : none;
    margin : 0;    
    padding : 0;
    line-height : inherit;
    font-size : inherit;
    color : $color-input;   
    & span {
      border-bottom : dashed 1px $color-danger;
    }     
  }  
}
