<nav class="toolbar">
  <button class="btn btn-primary btn--toolbar">Home</button>
  <div class="toolbar__btn-group">
    <button class="btn btn-primary btn--toolbar">
      <svg id="message-square" class="icon icon--toolbarBtn">
        <use xlink:href="../assets/icons/sprite.svg#message-square"></use>
      </svg>
    </button>
    <button class="btn btn-primary btn--toolbar">
      <svg id="user" class="icon icon--toolbarBtn">
        <use xlink:href="../assets/icons/sprite.svg#user"></use>
      </svg>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
