<!-- Modal -->
<div class="modal fade" id="changeLocationModal" tabindex="-1" role="dialog" aria-labelledby="changeLocationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-title--changeLocation" id="changeLocationModalLabel">Enter your City</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form form--changeLocation">
          <div class="form__row">
            <div class="form__group">
              <label for="city" class="form__label form__label--hide">City</label>
              <input id="city" type="text" class="form__control" placeholder="Where are you?">
            </div>
          </div>
          <button type="button" class="btn btn-primary btn--changeLocation">Change Location</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
