//Bootstrap Core
//____________________________________________________
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";

//Bootstrap Components
//____________________________________________________
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/card";


//_____________________________________________________
// My Core
//____________________________________________________
// @import "global/reset";
@import "sass/mixin/rem";
@import "sass/mixin/personal-mixin";
@import "sass/global/variables";
@import "sass/global/base";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"),
  url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),
  url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),
  url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}


//____________________________________________________
// My Components
//____________________________________________________
@import "sass/component/toolbar";
@import "sass/component/welcome";
@import "sass/component/btn";
@import "sass/component/ui-kit";
@import "sass/component/icon";
@import "sass/component/card";
@import "sass/component/form";
@import "sass/component/modal-login";
@import "sass/component/modal-signup";
@import "sass/component/modal-new-product";
@import "sass/component/toggle-btn";
@import "sass/component/list-group-categories";
@import "sass/component/list-group-products-categorized";
@import "sass/component/list-group-products-uncategorized";
@import "sass/component/item-product-details";
@import "sass/component/modal-request-product";
@import "sass/component/help";
@import "sass/component/modal-success";
@import "sass/component/modal-change-location";







