<form action="#" class="form form--welcome">
  <div class="form__row form__row--welcome">
    <div class="pick-location">
      <div class="pick-location__wrapper">
        <svg id="map-marker" class="icon icon--location">
          <use xlink:href="../assets/icons/sprite.svg#map-marker"></use>
        </svg>
        <label class="pick-location__current-city">Madrid</label>
      </div>
    </div>
    <div class="form__group form__group--welcome">
      <label for="search-bar" class="form__label form__label--hide">Search</label>
      <input type="search" id="search-bar" class="form__control form__control--search" placeholder="type a product">
      <svg id="search" class="icon icon--search">
        <use xlink:href="../assets/icons/sprite.svg#search"></use>
      </svg>
    </div>
  </div>
</form>

